@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.swiper-title {
  position: absolute !important;
  bottom: -8px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  text-transform: uppercase;
}

.fs-14 {
  font-size: 14px;
}
